<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu" rel="stylesheet">

    <!-- Estilos -->
    <link rel="stylesheet" href="login.component.scss">

    <title>Formulario Login y Registro de Usuarios</title>
</head>
<body>
   <!-- Formularios -->
    <div class="contenedor-formularios">
        <!-- Contenido de los Formularios -->
        <div class="contenido-tab">
            <!-- Iniciar Sesion -->
            <div id="iniciar-sesion">
                <div class="contenedor-input">
                    <img src="assets/Logoblanco.png" alt="LOGO">
                    <h1>Usuario</h1>
                    <input type="text" id="usuario" name="usuario" placeholder="Ingresa tu Usuario..." required>
                </div>
                    
                <div class="contenedor-input">
                    <h1>Contraseña</h1>
                    <input type="password" id="contrasena" name="contrasena" placeholder="Ingresa tu Contraseña..." required>
                </div>
                <input type="button" class="button button-block" routerLink="/home" value="Entrar">
            </div>
        </div>
    </div>

   <script src="js/jquery.js"></script>
   <script src="js/main.js"></script>

</body>
