<div class="menu-column"> 
    <button (click)="sidebarShow = !sidebarShow" *ngIf="!sidebarShow">
      <img class="menu" src="assets/menu.png" alt="menu">
    </button>
    <div class="sidebar" [class.slide-in]="sidebarShow">
      <div class="close" (click)="sidebarShow = !sidebarShow">X</div>
      <div class="content">
        <img class="Logoblanco" src="assets/Logoblanco.png" alt="Logoblanco">
        <a href="#" [class.active]="activeLink === 'payments'" (click)="activeLink = 'payments'" routerLink="/payment">Pagos</a>
        <a href="#" [class.active]="activeLink === 'packages'" (click)="activeLink = 'packages'" routerLink="/package">Paquetes</a>
        <a href="#" [class.active]="activeLink === 'productions'" (click)="activeLink = 'productions'" routerLink="/home">Producciones</a>
        <a href="#" [class.active]="activeLink === 'products'" (click)="activeLink = 'products'" routerLink="/product">Productos</a>
        <a href="#" [class.active]="activeLink === 'roles'" (click)="activeLink = 'roles'" routerLink="/rol">Roles</a>
        <a href="#" [class.active]="activeLink === 'users'" (click)="activeLink = 'users'" routerLink="/user">Usuarios</a>
        <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
      </div>
    </div>
</div>