$form-bg: #001696;
.menu {
    margin-top: 10px;
    margin-left: 20px;
    width: 5%;
    cursor: pointer;

}
//menu
* {
    box-sizing: border-box;
    font-size: 16px;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $form-bg;
    transform: translateX(-100%);
    transition: ease-in-out 300ms transform;
    width: 450px; // Ajustar el ancho del menú
    z-index: 1000;
    &.slide-in {
      transform: translateX(0%);
      transition: ease-in-out 600ms transform;
    }
    .close {
      position: fixed;
      top: 0;
      right: 0;
      color: white;
      cursor: pointer;
      padding: 16px;
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      color: white;
      font-size: 16px;
      padding: 16px;
      height: 100%;
    }
  }
  
  .Logoblanco {
    width: 80%;
  }
  
  a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px; // Aumentar el padding para hacer los enlaces más grandes
    transition: background-color 0.3s;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;

    transition: transform 0.3s;
  }
  
  a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
  }
  
  a.active {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
  }
  
  a:active,
  a:focus {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    border: 2px solid white;
    padding: 12px 20px; // Ajustar el padding para resaltar al hacer clic
    border-radius: 4px;
  }
  
  .logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 15px 20px; // Aumentar el padding para hacer el botón más grande
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.3s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .logout-button:hover {
    background-color: darkred;
  }
  
  button {
    background-color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(255, 255, 255);
  }
  

