<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="payment.component.scss">
</head>

<body>
    <div class="body-containers">
        <div class="container">
            <div class="column">
              <app-menu></app-menu>
            </div>
            <div class="column">
                <div class="logo-column"> 
                    <img class="logo" src="assets/Azul.png" alt="logo">
                </div>
            </div>
            <div class="column">
                <div class="user-column"> 
                    <div class="column2">
                        <img class="icono" src="assets/image.png" alt="User">
                    </div>
                    <div class="column2">
                        <app-sesion></app-sesion>
                    </div>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="column3">
                <div class="modulo">
                    <h4>Pagos</h4>
                </div>
                <div class="modulo2 my-4">
                    <button class="button" (click)="generatePdf()">Generar PDF</button>

                    <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="cell-border display">
                        <thead>
                            <tr>
                                <th>ID</th> 
                                <th>Usuario</th> 
                                <th>Total a pagar</th> 
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let payment of paymentData">
                            <td>{{ payment.id }}</td>
                            <td>{{ payment.usuario }}</td>
                            <td>{{ payment.total }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>
</html>