<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="user.component.scss">
</head>

<body>
    <div class="body-containers">
        <div class="container">
            <div class="column">
                <app-menu></app-menu>
            </div>
            <div class="column">
                <div class="logo-column"> 
                    <img class="logo" src="assets/Azul.png" alt="logo">
                </div>
            </div>
            <div class="column">
                <div class="user-column"> 
                    <div class="column2">
                        <img class="icono" src="assets/image.png" alt="User">
                    </div>
                    <div class="column2">
                        <h1>Usuario</h1>
                        <h1>Rol</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="column3">
                <div class="modulo">
                    <h4>Usuario</h4>
                </div>
                <div class="modulo2 my-4">
                    <table datatable [dtOptions]="dtoptions" class="custom-table table table-striped" id="example">
                        <thead>
                            <tr>
                                <th>ID</th> 
                                <th>Nombre</th> 
                                <th>Correo</th>
                                <th>Contraseña</th>
                                <th>Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of userData">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.password }}</td>
                                <td>{{ user.id_rol }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column4">
                <div class="modulo-create">
                    <h4 class="create">Crear Usuario</h4>
                    <form [formGroup]="newUserForm" (ngSubmit)="createUser()">
                        <input class="text2" type="number" id="idUsuario" formControlName="id" placeholder="ID Usuario" [style.border-color]="newUserForm.get('id')?.invalid && newUserForm.get('id')?.touched ? 'red' : ''" required>
                        <input class="textlist" type="text" id="nombre" formControlName="name" placeholder="Nombre" [style.border-color]="newUserForm.get('name')?.invalid && newUserForm.get('name')?.touched ? 'red' : ''" required>
                        <input class="textlist2" type="email" id="email" formControlName="email" placeholder="Correo" [style.border-color]="newUserForm.get('email')?.invalid && newUserForm.get('email')?.touched ? 'red' : ''" required>
                        <input class="textlist3" type="password" id="password" formControlName="password" placeholder="Contraseña" [style.border-color]="newUserForm.get('password')?.invalid && newUserForm.get('password')?.touched ? 'red' : ''" required>
                        <input class="textlist4" type="text" id="rol" formControlName="id_rol" placeholder="Rol" [style.border-color]="newUserForm.get('id_rol')?.invalid && newUserForm.get('id_rol')?.touched ? 'red' : ''" required>
                        <input type="submit" class="button" value="Crear Usuario">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
