<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.component.scss">
</head>

<body>
    <div class="body-containers">
        <div class="container">
            <div class="column">
                <app-menu></app-menu>
            </div>
            <div class="column">
                <div class="logo-column"> 
                    <img class="logo" src="assets/Azul.png" alt="logo">
                </div>
            </div>
            <div class="column">
                <div class="user-column"> 
                    <div class="column2">
                        <img class="icono" src="assets/image.png" alt="User">
                    </div>
                    <div class="column2">
                        <app-sesion></app-sesion>
                    </div>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="column3">
                <div class="modulo">
                    <h4>Producciones</h4>
                </div>
                <div class="modulo2  my-4">
                    <table datatable [dtOptions]="dtoptions" class="cell-border display" id="example">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>ID-Paquete</th>
                            <th>Fecha</th>
                            <th>Producto</th>
                            <th>Usuario</th>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column4">
                <div class="modulo-create">
                    <h4 class="create">Crear Produccion</h4>
                    <form [formGroup]="newProductionForm" (ngSubmit)="createProduction()">
                        <input class="text2" type="text" id="product_id" formControlName="product_id" placeholder="Producto" [style.border-color]="newProductionForm.get('name')?.invalid && newProductionForm.get('product_id')?.touched ? 'red' : ''" required>
                        <input type="submit" class="button" value="Registrar">
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>
