<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.component.scss">
</head>
<body style="background-color: aquas;">
    <div class="container">
        <div class="column">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>  
        </div>
        <div class="column">
            <img class="logo"src="assets/Azul.png" alt="LOGO">
        </div>
        <div class="column">
            <img class="icono" src="assets/Iconouser.png" alt="User">
        </div>
    </div>
</body>
</html>